# SPDX-FileCopyrightText: Copyright 2025 Universal Blue
# SPDX-FileCopyrightText: Copyright 2025 The BlueBuild Authors
# SPDX-FileCopyrightText: Copyright 2026 Daniel Hast
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Auto-upgrade Brew packages
After=multi-user.target
ConditionFileIsExecutable=|/home/linuxbrew/.linuxbrew/bin/brew
# If the path is a symbolic link, the above check has to follow the link, which
# fails on some systems due to SELinux not allowing the system service manager
# to read file contents in home directories. So we add a second triggering
# condition making the unit start if the path is a symbolic link.
ConditionPathIsSymbolicLink=|/home/linuxbrew/.linuxbrew/bin/brew

[Service]
User=linuxbrew
Type=oneshot
Environment=HOMEBREW_CELLAR=/home/linuxbrew/.linuxbrew/Cellar
Environment=HOMEBREW_PREFIX=/home/linuxbrew/.linuxbrew
Environment=HOMEBREW_REPOSITORY=/home/linuxbrew/.linuxbrew/Homebrew
ExecStart=/bin/sh -c "/home/linuxbrew/.linuxbrew/bin/brew upgrade"
ExecStartPost=-/bin/sh -c "/home/linuxbrew/.linuxbrew/bin/brew unlink systemd"
ExecStartPost=-/bin/sh -c "/home/linuxbrew/.linuxbrew/bin/brew unlink dbus"
ExecStartPost=-/bin/sh -c "/home/linuxbrew/.linuxbrew/bin/brew unlink gsettings"
ExecStartPost=-/bin/sh -c "/home/linuxbrew/.linuxbrew/bin/brew unlink bash"
ExecStartPost=-/bin/sh -c "/home/linuxbrew/.linuxbrew/bin/brew unlink rpm"
