# SPDX-FileCopyrightText: Copyright 2025 Universal Blue
# SPDX-FileCopyrightText: Copyright 2025 The BlueBuild Authors
# SPDX-FileCopyrightText: Copyright 2026 Daniel Hast
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Setup Brew
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/etc/.linuxbrew
ConditionPathExists=!/home/linuxbrew/.linuxbrew

[Service]
Type=oneshot
ExecStart=/usr/bin/cp -R --update=none /usr/share/homebrew/.linuxbrew /home/linuxbrew
ExecStart=/usr/bin/chown -R 1000:1000 /home/linuxbrew
ExecStartPost=/usr/bin/touch /etc/.linuxbrew

[Install]
WantedBy=default.target multi-user.target
