# SPDX-FileCopyrightText: Copyright 2026 Daniel Hast
#
# SPDX-License-Identifier: Apache-2.0 OR MIT

name: Linters

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  reuse:
    name: REUSE spec compliance
    runs-on: ubuntu-24.04
    steps:
      - name: Optimize build times
        shell: bash
        run: |
          echo 'set man-db/auto-update false' | sudo debconf-communicate
          sudo dpkg-reconfigure man-db
          sudo rm -f /var/lib/man-db/auto-update
          sudo sed -i 's/^update_initramfs=.*/update_initramfs=no/' /etc/initramfs-tools/update-initramfs.conf

      - name: Install dependencies
        shell: bash
        run: |
          sudo apt install reuse

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Check REUSE compliance
        shell: bash
        run: |
          reuse lint

  rpmlint:
    name: Lint RPM spec
    runs-on: ubuntu-24.04
    container: fedora:43
    steps:
      - name: Install dependencies
        shell: bash
        run: |
          sudo dnf install -y rpmlint

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Produce spec file
        shell: bash
        run: |
          sed -e 's/@@VERSION@@/1.2.3/g' homebrew-template.spec > homebrew.spec

      - name: Run rpmlint
        shell: bash
        run: |
          rpmlint homebrew.spec

  shellcheck:
    name: Run ShellCheck on shell scripts
    runs-on: ubuntu-24.04
    steps:
      - name: Optimize build times
        shell: bash
        run: |
          echo 'set man-db/auto-update false' | sudo debconf-communicate
          sudo dpkg-reconfigure man-db
          sudo rm -f /var/lib/man-db/auto-update
          sudo sed -i 's/^update_initramfs=.*/update_initramfs=no/' /etc/initramfs-tools/update-initramfs.conf

      - name: Install dependencies
        shell: bash
        run: |
          sudo apt install shellcheck

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Check REUSE compliance
        shell: bash
        run: |
          find . -type f -name '*.sh' -execdir shellcheck '{}' +
